@font-face {
  font-family: Outfit;
  src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Young Serif";
  src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
* {
  box-sizing: border-box;
}
body {
  background-color: hsl(30, 54%, 90%);
  margin: 0%;
  padding: 5em 10em;
  font-family: Outfit;
  color: hsl(24, 5%, 18%);
}
main {
  background-color: hsl(0, 0%, 100%);
  padding: 2em;
  border-radius: 15px;
}
img {
  width: 100%;
  border-radius: 15px;
}
h1,
h2 {
  font-family: "Young Serif";
  font-weight: 200;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
  color: hsl(14, 45%, 36%);
}
li {
  padding-left: 1em;
}
header section {
  background-color: hsl(330, 100%, 98%);
  padding: 2em;
  border-radius: 10px;
}
header section h2 {
  margin-block-start: 0;
  color: hsl(332, 51%, 32%);
  font-family: Outfit;
  font-weight: 600;
}
article > section:not(section:nth-last-of-type(1)) {
  border-bottom: 1px solid hsl(0, 0%, 89%);
}
table {
    width: 100%;
}
td {
    padding: 1em;
}
thead tr > *, tr:not(:nth-last-child(1)) > * {
    border-bottom: 1px solid hsl(0, 0%, 89%);
}
td:last-child {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
@media screen and (max-width: 540px) {
  body {
    padding: 0%;
  }
  main {
    padding: 0%;
    border-radius: 0;
  }
  article {
    padding: 2em;
  }
  img {
    border-radius: 0;
  }
  h1 {
    margin-block-start: 0;
  }
}
